h1, h2{
  font-weight: 700;
  color: #510000;
  margin-left: 3%;
}

.btn{
  margin: 10px;
  background: #510000;
  color: #f2ce6a;
}

.labelek{
  background-color: chocolate;
  margin-bottom: 1%;
}

.potrawa{
  padding: 3%;
}

.potrawa-btn{
  margin: 2% 0%;
  display: flex;
  justify-content: flex-end;
}


@media(max-width: 700px){
  h1{
    font-size: 32px;
  }

  h2{
    font-size: 24px;
  }
}
